@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background: #546fbb;
    font-family: 'Press Start 2P', cursive;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

button {
    margin: 10px;
    font-size: 18px;
}
.names{
    margin-top: 20px;
    border:1px
}

.catImg{
    
    height: 400px;
    width: 600px;
    border-radius: 20px ;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.catGif{
    height: 100px;
    width: 75px;
    display:flex;
    align-items: center;
}

.header {
    color: white;
    margin-top: 20px;
}

.choices{
    color: white;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
}