input {
 margin-top: 40px;
 width: 300px;
 height: 40px;
 font-size: 20px;
 border-radius: 10px;
 border: transparent;
}
.delete{
    position: relative;
    color: whitesmoke;
    float: right;
    background-color: transparent;
    top: -20px;
    right: -20px;
    border-radius: 20px;
    border: transparent;
}

.name{
    font-size: 18px;
}

.nameBtns{
    margin-top: 40px;
}